@import "compass/css3";
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#interface {
	height: 315px;
	.left {
		float: left;
		width: 560px;
		background: rgba(255, 255, 255, 0.6);
		border-bottom: 3px solid #27ae60;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		border-top: 1px solid #95a5a6;
		border-left: 1px solid #95a5a6;
		border-right: 1px solid #95a5a6;
		&.video {
			display: none;
		}
	}
	.right {
		width: 225px;
		padding: 10px 10px;
		float: right;
		margin-left: 10px;
		background: rgba(255, 255, 255, 0.6);
		height: 295px;
		border-bottom: 3px solid #3498db;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		border-top: 1px solid #95a5a6;
		border-left: 1px solid #95a5a6;
		border-right: 1px solid #95a5a6;
		ul {
			padding: 0;
			li {
				position: relative;
				list-style: none;
				margin: 0 0 3px 0;
				padding: 2px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				background: #fff;
				border: 1px solid #bdc3c7;
				img {
					max-height: 45px;
					width: auto;
					margin: 0 5px 0 0;
				}
				.notif {
					color: #999999;
					font-size: 0.8em;
					position: absolute;
					right: 5px;
					top: 3px;
					span {
						display: block;
						margin-top: 5px;
						&.checked {
							color: red;
						}
					}
				} 
			}
		}
	}
	.video video {
		width: 560px;
	}
	.live {
		margin-top: 0;
	}
	.online {
		color: #2ecc71;
	}
	.offline {
		color: #e74c3c;
	}
	.connections {
		margin-bottom: 10px;
		font-size: 12px;
		display: none;
		i {
			margin-right: 5px;
		}
	}
}


#countdown {
	text-align: center;
	font-size: 120px;
	color: #2c3e50;
	line-height: 315px;
}

.hidden {
	display: none;
}

#reactions {
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.6);
	border-bottom: 3px solid #27ae60;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #95a5a6;
	border-left: 1px solid #95a5a6;
	border-right: 1px solid #95a5a6;
}

#main {
	@include box-sizing(border-box);
	width: 820px;
	margin: 70px auto;
	padding: 0;
	.logo {
		margin: -50px 0 0 -55px;
	}
}

.ads {
	margin: 15px auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}
